<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>


<body>
<div class="row">
    <div class="col-4"></div>
<div class="col-4"><h1>Bill Generation</h1></div>
    <div class="col-4"></div>
</div>
<div class="row">
    <div class="col-4">BillNo:{{orderdata.billnumber}}</div>
<div class="col-4"></div>
    <div class="col-4">Date:{{orderdata.bill_date}}</div>
</div>
<div class="row">
    <div class="col-4">CustomerName:{{orderdata.customer_name}}</div>
<div class="col-4"></div>
    <div class="col-4">Mob:{{orderdata.phone_number}}</div>
</div>
<form class="setposition">
<table class="table">

        <tr>

            <td><b>Product Name</b></td>
            <td><b>qty</b></td>
            <td><b>Amount</b></td>

        </tr>


    {% for items in getallitems %}

        <tr>

            <td>
            {{items.product_name}}
            </td>
            <td>
            {{items.product_qty}}
            </td>
            <td>
            {{items.amount}}
            </td>
        </tr>

    {% endfor %}

</table>
</form>
<div class="row">
  <div class="col-4"></div>
    <div class="col-4"></div>
    <div class="col-4"><h3>Total  <b>{{orderdata.bill_total}}</b></h3></div>
</div>


</body>
</html>